name: Cypress Tests

on:
  push:
  workflow_dispatch:
    inputs:
      browser:
        description: 'Please secelect browser for test run'
        required: true
        default: 'chrome'
        type: choice
        options:
          - chrome
          - firefox
          - edge

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
            browser: ${{ inputs.browser }}
